@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>推薦的老師</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">老師</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Mentor-area start -->
<section class="mentor-area mentor-area_v1 pt-100 pb-70">
    <div class="container">
        <div class="row">
            <!-- 老師卡片1 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                <div class="card radius-md mb-30 shadow-md">
                    <div class="card-img">
                        <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-1.jpg" alt="Image">
                        </a>
                        <div>
                            <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                        </div>
                    </div>
                    <div class="card-content text-center">
                        <h4 class="card-title lc-1 mb-1">
                            <a href="mentor-details.html" target="_self" title="Link">
                                Jose Portilla
                            </a>
                        </h4>
                        <p class="card-text color-primary font-sm">
                            Web Designer
                        </p>
                        <div class="social-link justify-content-center">
                            <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 老師卡片2 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                <div class="card radius-md mb-30 shadow-md">
                    <div class="card-img">
                        <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-2.jpg" alt="Image">
                        </a>
                        <div>
                            <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                        </div>
                    </div>
                    <div class="card-content text-center">
                        <h4 class="card-title lc-1 mb-1">
                            <a href="mentor-details.html" target="_self" title="Link">
                                Colt Steele
                            </a>
                        </h4>
                        <p class="card-text color-primary font-sm">
                            App Developer
                        </p>
                        <div class="social-link justify-content-center">
                            <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 老師卡片3 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                <div class="card radius-md mb-30 shadow-md">
                    <div class="card-img">
                        <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-3.jpg" alt="Image">
                        </a>
                        <div>
                            <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                        </div>
                    </div>
                    <div class="card-content text-center">
                        <h4 class="card-title lc-1 mb-1">
                            <a href="mentor-details.html" target="_self" title="Link">
                                Imran Teli
                            </a>
                        </h4>
                        <p class="card-text color-primary font-sm">
                            Marketing Expert
                        </p>
                        <div class="social-link justify-content-center">
                            <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 老師卡片4 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                <div class="card radius-md mb-30 shadow-md">
                    <div class="card-img">
                        <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-8.jpg" alt="Image">
                        </a>
                        <div>
                            <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                        </div>
                    </div>
                    <div class="card-content text-center">
                        <h4 class="card-title lc-1 mb-1">
                            <a href="mentor-details.html" target="_self" title="Link">
                                Micky Lane
                            </a>
                        </h4>
                        <p class="card-text color-primary font-sm">
                            Photographer
                        </p>
                        <div class="social-link justify-content-center">
                            <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 老師卡片5 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                <div class="card radius-md mb-30 shadow-md">
                    <div class="card-img">
                        <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-9.jpg" alt="Image">
                      
                        </a>
                        <div>
                            <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                        </div>
                    </div>
                    <div class="card-content text-center">
                        <h4 class="card-title lc-1 mb-1">
                            <a href="mentor-details.html" target="_self" title="Link">
                                Justin Mike
                            </a>
                        </h4>
                        <p class="card-text color-primary font-sm">
                            Mobile Developer
                        </p>
                        <div class="social-link justify-content-center">
                            <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 老師卡片6 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                <div class="card radius-md mb-30 shadow-md">
                    <div class="card-img">
                        <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-10.jpg" alt="Image">
                        </a>
                        <div>
                            <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                        </div>
                    </div>
                    <div class="card-content text-center">
                        <h4 class="card-title lc-1 mb-1">
                            <a href="mentor-details.html" target="_self" title="Link">
                                Heidi Phil
                            </a>
                        </h4>
                        <p class="card-text color-primary font-sm">
                            Digital Marketer
                        </p>
                        <div class="social-link justify-content-center">
                            <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分頁功能那排 -->
        <nav class="pagination-nav mt-15 mb-30" data-aos="fade-up">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="mentors.html" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="mentors.html">1</a></li>
                <li class="page-item"><a class="page-link" href="mentors.html">2</a></li>
                <li class="page-item"><a class="page-link" href="mentors.html">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="mentors.html" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- Mentor-area end -->