 @model IEnumerable<LessonCourseVM>
@foreach(var course in Model)
{
    <div class="swiper-slide">
        <div class="course-default border radius-md mb-30">
            <figure class="course-img">
                <a href="course-details.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                    <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                </a>
                <div class="hover-show">
                    <a href="course-details.html" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">前往課程</a>
                </div>
            </figure>
            <div class="course-details">
                <div class="p-3">
                    <a href="course-details.html" target="_self" title="Design" class="tag font-sm color-primary mb-1"></a>
                    <h6 class="course-title lc-2 mb-0">
                        <a href="course-details.html" target="_self" title="Link">
                            The Complete 2023 Web Development Bootcamp
                        </a>
                    </h6>
                    <div class="authors mt-15">
                        <div class="author">
                            <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/avatar-1.jpg" alt="Image">
                            <span class="font-sm">
                                <a href="course-details.html" target="_self" title="James Hobert">
                                    James Hobert
                                </a>
                            </span>
                        </div>
                        <span class="font-sm icon-start"><i class="fas fa-clock"></i>06h 00m</span>
                    </div>
                </div>
                <div class="course-bottom-info px-3 py-2">
                    <span class="font-sm"><i class="fas fa-usd-circle"></i>$13.99</span>
                    <span class="font-sm"><i class="fas fa-book-alt"></i>21 Lessons</span>
                </div>
            </div>
        </div>
    </div>
}

