<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Wishlist</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Wishlist-area Start -->
<div class="shopping-area pt-50 pb-60">
    <div class="container">
        <form>
            <div class="item-list border radius-md mb-40">
                <div class="shopping-table table-responsive">
                    <table class="w-100 align-middle">
                        <thead>
                            <tr class="table-heading">
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Unit Price</th>
                                <th>Stock</th>
                                <th>Action</th>
                                <th class="text-center">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item">
                                <td>
                                    <div class="course">
                                        <figure class="course-img">
                                            <a href="course-details.html" target="_self" title="Link" class="lazy-container radius-sm ratio ratio-1-1">
                                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/pro-1.jpg" alt="course">
                                            </a>
                                        </figure>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-desc">
                                        <h6 class="mb-0">
                                            <a class="course-title" target="_self" title="Link" href="course-details.html">JavaScript for Beginner</a>
                                        </h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="price">
                                        <span>$120 </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-availability">
                                        <span>In Stock</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-groups gap-15">
                                        <a href="checkout.html" class="btn btn-sm btn-primary rounded-pill" title="Buy Now" target="_self">Buy Now</a>
                                        <a href="cart.html" class="btn btn-sm btn-outline rounded-pill" title="Add to Cart" target="_self">Add to Cart</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-remove rounded-pill" type="button" aria-label="button">
                                            <i class="fal fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="item">
                                <td>
                                    <div class="course">
                                        <figure class="course-img">
                                            <a href="course-details.html" target="_self" title="Link" class="lazy-container radius-sm ratio ratio-1-1">
                                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/pro-2.jpg" alt="course">
                                            </a>
                                        </figure>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-desc">
                                        <h6 class="mb-0">
                                            <a class="course-title" target="_self" title="Link" href="course-details.html">The Next Ai You Know</a>
                                        </h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="price">
                                        <span>$210 </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-availability">
                                        <span>In Stock</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-groups gap-15">
                                        <a href="checkout.html" class="btn btn-sm btn-primary rounded-pill" title="Buy Now" target="_self">Buy Now</a>
                                        <a href="cart.html" class="btn btn-sm btn-outline rounded-pill" title="Add to Cart" target="_self">Add to Cart</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-remove rounded-pill" type="button" aria-label="button">
                                            <i class="fal fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="item">
                                <td>
                                    <div class="course">
                                        <figure class="course-img">
                                            <a href="course-details.html" target="_self" title="Link" class="lazy-container radius-sm ratio ratio-1-1">
                                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/pro-3.jpg" alt="course">
                                            </a>
                                        </figure>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-desc">
                                        <h6 class="mb-0">
                                            <a class="course-title" target="_self" title="Link" href="course-details.html">Thing That ChatGPT Won</a>
                                        </h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="price">
                                        <span>$132 </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-availability">
                                        <span>Out of Stock</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-groups gap-15">
                                        <a href="checkout.html" class="btn btn-sm btn-primary rounded-pill" title="Buy Now" target="_self">Buy Now</a>
                                        <a href="cart.html" class="btn btn-sm btn-outline rounded-pill" title="Add to Cart" target="_self">Add to Cart</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-remove rounded-pill" type="button" aria-label="button">
                                            <i class="fal fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="item">
                                <td>
                                    <div class="course">
                                        <figure class="course-img">
                                            <a href="course-details.html" target="_self" title="Link" class="lazy-container radius-sm ratio ratio-1-1">
                                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/pro-4.jpg" alt="course">
                                            </a>
                                        </figure>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-desc">
                                        <h6 class="mb-0">
                                            <a class="course-title" target="_self" title="Link" href="course-details.html">Digital Marketing Next</a>
                                        </h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="price">
                                        <span>$211 </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="course-availability">
                                        <span>In Stock</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-groups gap-15">
                                        <a href="checkout.html" class="btn btn-sm btn-primary rounded-pill" title="Buy Now" target="_self">Buy Now</a>
                                        <a href="cart.html" class="btn btn-sm btn-outline rounded-pill" title="Add to Cart" target="_self">Add to Cart</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-remove rounded-pill" type="button" aria-label="button">
                                            <i class="fal fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Wishlist-area End -->
