<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>課程記錄明細</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CourseDetail</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Mentor-details-area start -->


<section class="mentor-details pt-100 pb-60">
    <div class="container">
        <div class="row gx-xl-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="content-img mb-40" data-aos="fade-up">
                    <div class="lazy-container ratio ratio-1-1 radius-md">
                        <img class="lazyload blur-up" src="/images/placeholder.png" data-src="/images/mentor/mentor-1.jpg" alt="Mentor">
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="content-title mb-40" data-aos="fade-up">
                    <h3 class="title mt-0 mb-1 fs-1">新手ETF選股</h3>
                    <span class=" fs-4 ">
                        課程資訊：堅強的信心，能使平凡的人做出驚人的事業。帶著這句話，我們還要更加慎重的審視這個問題。我們要學會站在他人的角度思考。既然如此，不要先入為主覺得股票很簡單，實際上，股票可能比你想的還要更複雜。
                    </span>
                    <div class="content-text mt-20">
                        <p class="fs-3 fw-bold">
                            地點：大成投資台北總部15樓
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mentor-details-area end -->
<!-- Checkout-area start -->
<div class="shopping-area pt-100 pb-60">
    <div class="d-flex container">
        <div class="flex-grow-1 row gx-xl-5">
                <div class="col-lg-8">
                    <div class="billing-details" data-aos="fade-up">
                        <h4 class="mb-20 fs-2">訂單編號</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">240226?????<span class="color-red"></span> </label>
                            </div>
                        </div>
                        <h4 class="mb-20 fs-2">訂單狀態</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">成立/取消<span class="color-red"></span> </label>
                            </div>
                        </div>
                        <h4 class="mb-20 fs-2">訂單成立時間</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">2024/02/26 12:00<span class="color-red"></span> </label>
                            </div>
                        </div>
                        <h4 class="mb-20 fs-2">訂單金額</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">$8,000<span class="color-red"></span> </label>
                            </div>
                        </div>

                    </div>
                </div>           
        </div>
        <div class="flex-grow-1">
            <div class="col-lg-8">
                <div class="billing-details" data-aos="fade-up">
                    <h4 class="mb-20 fs-2">取消辦法</h4>
                    <div class="col-lg-6">
                        <div class="form-group mb-30 fs-4">
                            <label for="firstName">240226?????<span class="color-red"></span> </label>
                        </div>
                    </div>
                    

                </div>
            </div>
            
        </div>
    </div>
</div>