<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>課程記錄明細</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CourseDetail</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Mentor-details-area start -->


<section class="mentor-details pt-100 pb-60">
    <div class="container">
        <div class="row gx-xl-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="content-img mb-40" data-aos="fade-up">
                    <div class="lazy-container ratio ratio-1-1 radius-md">
                        <img class="lazyload blur-up" src="/images/placeholder.png" data-src="/images/mentor/mentor-1.jpg" alt="Mentor">
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="content-title mb-40" data-aos="fade-up">
                    <h3 class="title mt-0 mb-1 fs-1">新手ETF選股</h3>
                    <span class=" fs-4 ">
                        課程資訊：堅強的信心，能使平凡的人做出驚人的事業。帶著這句話，我們還要更加慎重的審視這個問題。我們要學會站在他人的角度思考。既然如此，不要先入為主覺得股票很簡單，實際上，股票可能比你想的還要更複雜。
                    </span>
                    <div class="content-text mt-20">
                        <p class="fs-3 fw-bold">
                            地點：大成投資台北總部15樓
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mentor-details-area end -->
<!-- Checkout-area start -->
<div class="shopping-area pt-100 pb-60">
    <div class="d-flex container">
        <div class="flex-grow-1 row gx-xl-5" style="width:50%">
                <div class="col-lg-8">
                    <div class="billing-details" data-aos="fade-up">
                        <h4 class="mb-20 fs-2">訂單編號</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">240226?????<span class="color-red"></span> </label>
                            </div>
                        </div>
                        <h4 class="mb-20 fs-2">訂單狀態</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">成立/取消<span class="color-red"></span> </label>
                            </div>
                        </div>
                        <h4 class="mb-20 fs-2">訂單成立時間</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">2024/02/26 12:00<span class="color-red"></span> </label>
                            </div>
                        </div>
                        <h4 class="mb-20 fs-2">訂單金額</h4>
                        <div class="col-lg-6">
                            <div class="form-group mb-30 fs-4">
                                <label for="firstName">$8,000<span class="color-red"></span> </label>
                            </div>
                        </div>

                    </div>
                </div>           
        </div>
        <div class="flex-grow-1" style="width:50%">
            <div class="billing-details" data-aos="fade-up">
                <h4 class="mb-20 fs-2">★取消辦法</h4>
                <div>
                    <div class="col-lg-12 fs-4" >
                        <ol class="indented-list" style="padding-right: 20px list-style:cjk-ideographic;list-style-position:outside">
                            <li>事假需於5日前申請，病假需於3小時前申請(並附上就診證明)。</li>
                            <li>若未依規定請假，恕不順延與退費。</li>
                            <li>若課程已開始上課，恕不提供退費服務。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <br />
            <div class="text-center">
                <button id="cancelOrderButton" class="fs-3 btn btn-lg btn-primary radius-sm w-100" type="button" aria-label="button" data-bs-toggle="modal" data-bs-target="#orderSuccessModal">我要取消報名</button>
            </div>
            <br />
            <h4 class="mb-20 fs-2">取消原因</h4>
            <div class="col-lg-6">
                <div class="form-group mb-30 fs-4">
                    <label for="firstName">私人因素</label>
                </div>
            </div>
            <br />
            <div class="text-center">
                <button id="" class="fs-3 btn btn-lg btn-primary radius-sm w-100" type="button" aria-label="button" data-bs-toggle="modal" data-bs-target="#orderSuccessModal">我要評價課程</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            // 點擊事件
            $('#cancelOrderButton').click(function () {
                // 第1個彈跳視窗
                Swal.fire({
                    title: "請選擇取消原因：",
                    input: 'radio',
                    inputOptions: {
                        'option1': '原因1',
                        'option2': '原因2',
                        'option3': '原因3',
                        'option4': '原因4'
                    },
                    inputValidator: (value) => {
                        if (!value) {
                            return '您需要選擇一個取消原因'
                        }
                    },
                    showCancelButton: true,
                    cancelButtonText: '取消',
                    confirmButtonText: '下一步',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.isConfirmed) {
                        // 第2個彈跳視窗
                        Swal.fire({
                            title: "您是否確定取消___課程？",
                            text: "(取消後如欲上課，請至課程列表再次重新報名)",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            confirmButtonText: "確定",
                            cancelButtonText: "取消"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // 第3個彈跳樹窗
                                Swal.fire({
                                    title: "已收到您的取消報名申請！",
                                    showCancelButton: true,
                                    confirmButtonColor: "#3085d6",
                                    confirmButtonText: "返回首頁",
                                    cancelButtonText: "檢視課程紀錄頁面"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '/首頁的URL';
                                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                                        window.location.href = '/課程紀錄頁面的URL';
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>



}
