<section class="course-area latest ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-inline mb-30" data-aos="fade-up">
                    <h2 class="title mb-20">                        
                        <span>這裡要放會員照片跟會員名稱</span>
                        <img class="title-shape lazyload" src="/images/placeholder.png" data-src="/images/shape/title-shape.png" alt="Shape">
                    </h2>                 
                </div>
            </div>
            <div class="tabs-navigation mb-20">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">未開始</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab2" type="button">已完成</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab3" type="button">已取消</button>
                    </li>               
                </ul>
            </div>
            <div class="col-12">
                <div class="tab-content" data-aos="fade-up">
                    <!--課程未開始-->
                    <div class="tab-pane slide show active" id="tab1">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="course-default border radius-md mb-30">
                                    <figure class="course-img">
                                        <a href="course-details.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-5.jpg" alt="course">
                                        </a>
                                        <div class="hover-show">
                                            <a href="course-details.html" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">Enroll Now</a>
                                        </div>
                                    </figure>
                                    <div class="course-details">
                                        <div class="p-3">
                                            <a href="course-details.html" target="_self" title="Design" class="tag font-sm color-primary mb-1">Design</a>
                                            <h6 class="course-title lc-2 mb-0">
                                                <a href="course-details.html" target="_self" title="Link">
                                                    Photoshop Master Course: From Beginner to Photoshop Pro
                                                </a>
                                            </h6>
                                            <div class="authors mt-15">
                                                <div class="author">
                                                    <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/avatar-1.jpg" alt="Image">
                                                    <span class="font-sm">
                                                        <a href="course-details.html" target="_self" title="James Hobert">
                                                            James Hobert
                                                        </a>
                                                    </span>
                                                </div>
                                                <span class="font-sm icon-start"><i class="fas fa-clock"></i>06h 00m</span>
                                            </div>
                                        </div>
                                        <div class="course-bottom-info px-3 py-2">
                                            <span class="font-sm"><i class="fas fa-usd-circle"></i>$13.99</span>
                                            <span class="font-sm"><i class="fas fa-book-alt"></i>11 Lessons</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                       
                    </div>
                    <!--課程已完成-->
                    <div class="tab-pane slide" id="tab2">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="course-default border radius-md mb-30">
                                    <figure class="course-img">
                                        <a href="course-details.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-9.jpg" alt="course">
                                        </a>
                                        <div class="hover-show">
                                            <a href="course-details.html" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">Enroll Now</a>
                                        </div>
                                    </figure>
                                    <div class="course-details">
                                        <div class="p-3">
                                            <a href="course-details.html" target="_self" title="Marketing" class="tag font-sm color-primary mb-1">Marketing</a>
                                            <h6 class="course-title lc-2 mb-0">
                                                <a href="course-details.html" target="_self" title="Link">
                                                    Digital Marketing: 14 Strategic and Tactical Courses in 1
                                                </a>
                                            </h6>
                                            <div class="authors mt-15">
                                                <div class="author">
                                                    <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/avatar-5.jpg" alt="Image">
                                                    <span class="font-sm">
                                                        <a href="course-details.html" target="_self" title="Mike Russel">
                                                            Mike Russel
                                                        </a>
                                                    </span>
                                                </div>
                                                <span class="font-sm icon-start"><i class="fas fa-clock"></i>06h 00m</span>
                                            </div>
                                        </div>
                                        <div class="course-bottom-info px-3 py-2">
                                            <span class="font-sm"><i class="fas fa-usd-circle"></i>$13.99</span>
                                            <span class="font-sm"><i class="fas fa-book-alt"></i>11 Lessons</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                    <!--課程已結束-->
                    <div class="tab-pane slide" id="tab3">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="course-default border radius-md mb-30">
                                    <figure class="course-img">
                                        <a href="course-details.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-7.jpg" alt="course">
                                        </a>
                                        <div class="hover-show">
                                            <a href="course-details.html" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">Enroll Now</a>
                                        </div>
                                    </figure>
                                    <div class="course-details">
                                        <div class="p-3">
                                            <a href="course-details.html" target="_self" title="Development" class="tag font-sm color-primary mb-1">Development</a>
                                            <h6 class="course-title lc-2 mb-0">
                                                <a href="course-details.html" target="_self" title="Link">
                                                    Java Swing (GUI) Programming: From Beginner to Expert
                                                </a>
                                            </h6>
                                            <div class="authors mt-15">
                                                <div class="author">
                                                    <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/avatar-3.jpg" alt="Image">
                                                    <span class="font-sm">
                                                        <a href="course-details.html" target="_self" title="Neil Fontaine">
                                                            Neil Fontaine
                                                        </a>
                                                    </span>
                                                </div>
                                                <span class="font-sm icon-start"><i class="fas fa-clock"></i>06h 00m</span>
                                            </div>
                                        </div>
                                        <div class="course-bottom-info px-3 py-2">
                                            <span class="font-sm"><i class="fas fa-usd-circle"></i>$13.99</span>
                                            <span class="font-sm"><i class="fas fa-book-alt"></i>08 Lessons</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
        <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
        <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
        <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-2.png" alt="Shape">
        <img class="shape-4 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
    </div>
</section>