@using FinalGroupMVCPrj.Models.DTO
@model IEnumerable<PortfolioListDTO>

<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Life Share Learn 實作</h2>
            <h2>Side Project</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Learning Portfolio</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- blog-details-area start -->
<div class="blog-details-area pt-100 pb-60">
    <div class="container">
        <div class="row justify-content-center gx-xl-5">
            <div class="col-lg-8">
                <div class="blog-description mb-40">
                    <article class="item-single">
                        <div class="image">
                            <div class="lazy-container radius-md ratio ratio-16-9">
                                <img class="lazyload" src="/images/placeholder.png" data-src="/images/blog/blog-1.jpg" alt="blog Image">
                            </div>
                        </div>
                        <div class="content">
                            <ul class="info-list">
                                <li><i class="fal fa-user"></i>Oppido</li>
                                <li><i class="fal fa-calendar"></i>18 JULY 2023</li>
                                <li><i class="fal fa-tag"></i>App Development</li>
                            </ul>
                            <h4 class="title">
                                @Html.DisplayFor(m => m.FirstOrDefault().FDescrpition) 
                                @Html.DisplayFor(m => m.FirstOrDefault().FName)
                            </h4>
                            <p>
                                每一顆馬卡龍充滿創意地搭配了不同口味的內餡，從濃郁的巧克力、香濃的咖啡，到清新的草莓、柔滑的榛果奶油，每一口都帶來一場層次豐富的味蕾冒險。
                                仔細觀察，你會發現每一顆馬卡龍的表面都細膩而光滑，仿佛是烘焙藝術家的巧手在其中繪畫。微妙的質感和色澤交織出一種極致的視覺享受，令人難以抗拒。
                                整體而言，這款馬卡龍甜點不僅是味覺的盛宴，更是一場視覺藝術的饗宴。每一口都彷彿帶你穿越到甜蜜的夢境，讓人陶醉其中，難以忘懷。
                            </p>
                            <blockquote class="blockquote mb-30">
                                <i class="fas fa-quote-left"></i>
                                <p>
                                    這款令人垂涎的馬卡龍甜點呈現出一種令人難以置信的視覺和味覺享受。首先，這款馬卡龍以柔軟的外皮包覆，外觀如彩虹般繽紛，各種色彩交織出一幅美不勝收的畫面。
                                </p>
                            </blockquote>
                            <p class="m-0">
                                All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                chunks as necessary, making this the first true generator on the Internet. It uses a
                                dictionary of over 200 Latin words, combined with a handful model sentence
                                structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                                Ipsum is therefore always free from. Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Accusantium, optio!
                            </p>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="col-xl-10">
                        <div class="comments">
                            <h4 class="mb-20">Comments</h4>
                            <div class="comment-box radius-md mb-40">
                                <ol class="comment-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-author">
                                                <div class="lazy-container ratio ratio-1-1 rounded-circle">
                                                    <img class="lazyload" src="/images/placeholder.png" data-src="/images/avatar-1.jpg" alt="image">
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <h6 class="name">Adam Haul</h6>
                                                <p>
                                                    這款馬卡龍甜點令人驚艷，色彩繽紛的外皮包覆著多種創意內餡，從巧克力到草莓，層次豐富。每一顆馬卡龍都如藝術品般細膩，質感和色澤讓人難以置信。品嚐時，甜點散發出令人心醉的香氣，帶來極致的味蕾享受。整體而言，這是一場視覺和味覺的盛宴，讓人陶醉其中，難以忘懷。
                                                </p>
                                                <a href="blog-single.html" class="font-sm color-primary" target="_self" title="Reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-author">
                                                <div class="lazy-container ratio ratio-1-1 rounded-circle">
                                                    <img class="lazyload" src="/images/placeholder.png" data-src="/images/avatar-2.jpg" alt="image">
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <h6 class="name">David Murphy</h6>
                                                <p>
                                                    這位學生做的法式馬卡龍看起來真是美味又精緻！色彩繽紛，每一顆都散發著誘人的甜香，讓人忍不住想咬一口。外觀光滑細膩，內餡口感豐富，實在是一份令人驚艷的甜點。
                                                </p>
                                                <a href="blog-single.html" class="font-sm color-primary" target="_self" title="Reply">Reply</a>
                                            </div>
                                        </div>
                                        <ol class="children">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-author">
                                                        <div class="lazy-container ratio ratio-1-1 rounded-circle">
                                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/avatar-3.jpg" alt="image">
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <h6 class="name">Harry jain</h6>
                                                        <p>
                                                            完全同意！這款法式馬卡龍看起來就像是藝術品一般，色彩搭配得恰到好處，每一口都是味蕾的享受。這位學生的手藝真是了不起，期待他未來更多的烹飪驚喜！
                                                        </p>
                                                        <a href="blog-single.html" class="font-sm color-primary" target="_self" title="Reply">Reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                            <div class="comment-reply mb-40">
                                <h4 class="mb-10">Post Your Comment</h4>
                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span>
                                    Required fields are marked
                                    <span class="required text-danger">*</span>
                                </p>
                                <form id="commentForm" class="comment-form">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-20">
                                                <input type="text" class="form-control" name="name" placeholder="Name*" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-20">
                                                <input type="email" class="form-control" name="email" placeholder="Email*" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group mb-30">
                                                <textarea name="message" class="form-control" placeholder="Comment" required rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-lg btn-primary rounded-pill" type="button" aria-label="Post Comment">Post Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="widget-area border radius-md px-25" data-aos="fade-up">
                    <div class="widget widget-search py-25">
                        <h5 class="title mb-15">Search Posts</h5>
                        <div class="search-form">
                            <form id="searchForm">
                                <div class="input-inline border rounded-pill">
                                    <input class="form-control border-0" placeholder="Search here..." type="text" name="SEARCH" required="">
                                    <button class="btn-icon rounded-pill" type="submit" aria-label="Search button">
                                        <i class="far fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget-post py-25">
                        <h5 class="title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#blogPost">
                                Recent Post
                            </button>
                        </h5>
                        <div id="blogPost" class="collapse show">
                            <div class="accordion-body mt-20 scroll-y">
                                <article class="article-item mb-20">
                                    <div class="image">
                                        <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 radius-sm">
                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/blog/blog-1.jpg" alt="blog Image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <ul class="info-list">
                                            <li>Admin</li>
                                            <li>18/05/2023</li>
                                        </ul>
                                        <h6 class="lc-2 mb-0">
                                            <a href="blog-single.html" target="_self" title="blog">
                                                Clients may provide feedback on the overall user experience, including the website's design
                                            </a>
                                        </h6>
                                    </div>
                                </article>
                                <article class="article-item mb-20">
                                    <div class="image">
                                        <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 radius-sm">
                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/blog/blog-2.jpg" alt="blog Image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <ul class="info-list">
                                            <li>John</li>
                                            <li>21/06/2023</li>
                                        </ul>
                                        <h6 class="lc-2 mb-0">
                                            <a href="blog-single.html" target="_self" title="blog">
                                                Step-by-Step Instructions for Purchasing Computer Games from Our Website
                                            </a>
                                        </h6>
                                    </div>
                                </article>
                                <article class="article-item mb-20">
                                    <div class="image">
                                        <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 radius-sm">
                                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/blog/blog-3.jpg" alt="blog Image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <ul class="info-list">
                                            <li>Admin</li>
                                            <li>02/11/2023</li>
                                        </ul>
                                        <h6 class="lc-2 mb-0">
                                            <a href="blog-single.html" target="_self" title="blog">
                                                Professionals Might also Know How To Control Epic Games On Your Computer
                                            </a>
                                        </h6>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget-blog-categories py-25">
                        <h5 class="title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#blogCategory">
                                Categories
                            </button>
                        </h5>
                        <div id="blogCategory" class="collapse show">
                            <div class="accordion-body mt-20 scroll-y">
                                <ul class="list-unstyled m-0">
                                    <li class="d-flex align-items-center justify-content-between">
                                        <a href="blogs.html" target="_self" title="blogs"><i class="fal fa-folder"></i>Technology</a>
                                        <span class="tqy">(11)</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <a href="blogs.html" target="_self" title="blogs"><i class="fal fa-folder"></i>Business</a>
                                        <span class="tqy">(02)</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <a href="blogs.html" target="_self" title="blogs"><i class="fal fa-folder"></i>Android</a>
                                        <span class="tqy">(45)</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <a href="blogs.html" target="_self" title="blogs"><i class="fal fa-folder"></i>iOS</a>
                                        <span class="tqy">(26)</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <a href="blogs.html" target="_self" title="blogs"><i class="fal fa-folder"></i>Watch</a>
                                        <span class="tqy">(45)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget-tags py-25">
                        <h5 class="title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#blogTags">
                                Tags
                            </button>
                        </h5>
                        <div id="blogTags" class="collapse show">
                            <div class="accordion-body mt-20 scroll-y">
                                <div class="tags-group d-flex flex-wrap gap-2">
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Design</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">SEO</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Figma</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Android</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Marketing</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Software</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Office</a>
                                    <a href="blogs.html" class="px-3 py-2 bg-light radius-sm font-xsm" title="Link" target="_self">Affiliate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Spacer -->
                <div class="pb-40"></div>
            </div>
        </div>
    </div>
</div>
<!-- blog-details-area end -->
